*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menuh{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 11px;
    gap: 10px;
    justify-content: flex-start;
    background-color: #6d1d20;
}
.menuh li{
    display: inline;
    list-style: none;
    font: 14px Arial, sans-serif;
    /*background-color:#6d1d20;*/
    
}
li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px;
    font-family:14px"museo-sans", Sans-serif;
    
}
img.logo1{
    margin-top: 2.75%;
    width: 500px;
}

.ladoalado{
    width: 100%;
    padding-top: 4.5px;
    background-color: hwb(34 77% 7% / 0.966);
}
.ladoalado h1{
    font: 90px Arial, sans-serif;
    color:#6d1d20;
    right: 45%;
    position: absolute;
    top: 7%;
    font-style:oblique;
    
}

.postagens{
    padding-top: 20px;
   
    color: white;
}
.projeto{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    color: white;
}
body{
    background-image: url(imgempexels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

/*.email{
    position: absolute;
    right: 350px;
    top: 250px;
    background-color: hwb(34 77% 7% / 0.966);
    border-radius: 20px;
    height: 400px;
    width: 300px;}*/

.email h3{
    background-color: aliceblue;
    height: 30px;
    text-align: left;
}
form{
    text-align: center;
    margin-top: 25%;
}
footer{
    background:#6d1d20 ;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    }


.rodape ul{
    text-align: center;
}
a:link{
    text-decoration: none;
    
}
@media (max-width: 850px)
{
    .menuh{
        height: 40px;
        
    }
    .menuh li{
        display: inline;
        list-style: none;
        font: 11.5px Arial, sans-serif;
        /*background-color:#6d1d20;*/
    }   
    .ladoalado{
        width: 100%;
        height: 100px;
        /*padding-top: 4.5px;*/
        background-color: hwb(34 77% 7% / 0.966);

    
    }
    .ladoalado h1{
        margin-top: -4%;
        right: 150px;
        font-size: 50px;
    }
    img.logo1{
        margin-top: 14%;
        width: 120px;
    }
    .projeto h1{
        font-size: 22px;
    }
    footer{
        bottom: 0%;
        position: fixed;
        font: 11px Arial, sans-serif;
        height: 80px;
        right: 20px;
    }
    
}